h1{
    font-family: 'Orbitron', sans-serif;
    color: white;
    margin-left: 25%;
}
body{
    background: url("https://media.licdn.com/mpr/mpr/p/6/005/0b4/2e5/22b7a27.jpg") center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.square{
    display: inline-block;
    border: 3px solid white;
    width: 30px!important;
    height: 30px !important;
    overflow: hidden;
    text-align: center;
    font-size: 1em;
    margin: auto 2px;
    box-shadow:  inset 0 0 10px 0 rgba(0, 0, 0, 0.8);
    background: rgba(155, 144, 155, 0.8);
    color: black;
}

.board{
    max-width: 379px;
    margin-left: 25%;px;
}
.red{
    background: red;
}
img.bomb{
    width: 100%;
}
.color1{
    color:#99ff99;
    /*light green*/
}
.color2{
    color: #ff0055;
}
.color3{
    color: ##00ffff;
}
.color4{
    color: #00bfff;
}
.color5{
    color: #cc66ff;
}
.color6{
    color: #944dff;
}
.color7{
    color: #ffff33;
    /*yellow*/
}
.color8{
    color: #ff0055;
    /*brigt red*/
}
.squareBomb{
    background: url("https://media.giphy.com/media/t4KCG3pniDkc0/giphy.gif") center center no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.square:hover{
    box-shadow: inset 2px 2px 5px -1px black;
    border: 4px solid red;  /*transform: translateY(1px);*/
}
.boom{
    background: green
}
